#wrap {
 margin: 15px;
}

.results_box {
    padding: 10px;
    border: 1px solid black;
    background-color: #efefef;
    width: 500px;
}

.original_text {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    background-color: #ffffcc;
    width: 300px;
    font-style: italic;
}