{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>Linguistic tools for Cognitive Science - {% block title %}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lingtools.css')}}">
    {%- endblock styles %}
    
    {% import "bootstrap/fixes.html" as fixes %}
    
    {{fixes.ie8()}}
    
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    
    
    {%- endblock head %}
  </head>
  
  <body{% block body_attribs %}{% endblock body_attribs %}>
  
  
  
    {% block body -%}
    <!-- Wrap all page content here -->
    <div class="wrapper" id="wrap">
    
    {% block navbar %}
    
    {{nav.top.render()}}
    
    {%- endblock navbar %}
    
    <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h1>Linguistic tools for Cognitive Science (alpha)</h1>
    </div> <!--/col-->
    </div> <!--/row-->
   
    
    {% block content -%}


    {%- endblock content %}

    {% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    {%- endblock scripts %}
    
    
    </div> <!--/wrapper-->
    {%- endblock body %}
    
  </body>
  
{%- endblock html %}
</html>
{% endblock doc -%}

