{% extends "base.html" %}
{% block content %}


<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h2>Distinctive words extractor - Results</h2>

    {% if errormsg %}
        <div class="alert alert-warning" role="alert">
            <strong>Error:</strong> {{ errormsg }}
        </div>  
    {% endif %} 
    
    {% if warningmsg %}
        <div class="alert alert-info" role="alert">
            <strong>Warning:</strong> {{ warningmsg }}
        </div>  
    {% endif %} 
    
{% if file_for_download %}

<div class="panel panel-default col-xs-12 col-sm-8 col-md-4 col-lg-4">
  <div class="panel-heading">Download results </div>
    <div class="panel-body">
<p><a href="/download/{{ file_for_download }}">Download results</a> (link will expire after 15 minutes)</p>
  </div>
</div>
<div class="clearfix"></div>
{% endif %}

{% if result %}



    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    
    <table class="table table-condensed table-hover">
        <thead> 
            <tr> 
                <th>Word</th> 
                <th>Chi-square</th> 
                <th>P-Value</th>
                <th>Word rate (per 1000) in file 1</th>  
                <th>Word rate (per 1000) in file 2</th>                            
            </tr> 
        </thead> 
        <tbody>
        {% for item in result %}
            <tr style="background-color: {{item.color}}">
                <td>{{ item.word }}</td>
                <td>{{ '%0.3f'| format(item.chisq|float)  }}</td>
                <td>{{ '%0.3f'| format(item.pval|float)  }}</td>  
                <td>{{ '%0.3f'| format(item.rate1|float)  }}</td>
                <td>{{ '%0.3f'| format(item.rate2|float)  }}</td>                    
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

<div class="clearfix"></div>

<div class="panel panel-default col-xs-12 col-sm-8 col-md-4 col-lg-4">
  <div class="panel-heading">Color code</div>
  <div class="panel-body">
    <span style="background: {{color1}}">File 1 has higher rate</span>, <span style="background: {{color2}}">File 2 has higher rate</span><p>
  </div>
</div>
<div class="clearfix"></div>

{% endif %}
    
</div> <!--/col-->    
</div><!--/row-->

{% endblock %}