{% extends "base.html" %}
{% block content %}

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <h2>Distinctive words extractor</h2>
    
    {% if errormsg %}
        <div class="alert alert-warning" role="alert">
            <strong>Error:</strong> {{ errormsg }}
        </div>  
    {% endif %} 
    
    {% if warningmsg %}
        <div class="alert alert-info" role="alert">
            <strong>Warning:</strong> {{ warningmsg }}
        </div>  
    {% endif %} 
    
    <p>Given two sets of texts, calculates the words that most distinguish the two.</p>
    
   
    <form action="{{ url_for('weblingtools_blueprint.distinctive_words') }}" method="post"  enctype="multipart/form-data">
    
    <div class="panel panel-default">
	  <div class="panel-heading">File 1</div>
	  <div class="panel-body">
	    <div class="form-group col-sm-8 col-md-8 col-lg-8">     
	        <label for="file1">File 1 (.txt only)</label>
	        <input type="file" name="file1" id="file1"> 
	        <p class="help-block">Maximum file size: {{max_file_size | filesizeformat}}</p>
	    </div>
	    
	    <div class="form-group col-sm-12 col-md-12 col-lg-12">
	        <label for="file1format">File 1 format</label>
	        <div class="radio">
	            <label>
	            <input type="radio" name="file1format" id="file1format" value="1" checked />One document per line, no paragraphs
	            </label>
	        </div>
	  <!--      <div class="radio">
	            <label>
	            <input type="radio" name="file1format" id="file1format" value="2" />Single document, new line is a new paragraph
	            </label>
	        </div>
	        <div class="radio">
	            <label>
	            <input type="radio" name="file1format" id="file1format" value="3" />Single document, empty line is a new paragraph
	            </label>
	        </div>
	
	        <div class="radio">
	            <label>
	            <input type="radio" name="file1format" id="file1format" value="4" />Zipped file with multiple documents, one document per file, empty line is a new paragraph
	            </label>
	        </div>
	-->
	    </div>
	    
	    <div class="form-group col-sm-4 col-md-4">
	        <label for="file1encoding">File 1 encoding</label>
	        <select class="form-control" name="file1encoding" id="file1encoding">
	            <option value="utf-8">UTF-8</option>
	            <option value="iso8859-1">Latin 1 (ISO 8859-1)</option>
	            <option value="cp1252">Windows (CP-1252)</option>
	            <option value="auto">Other/autodetect</option>
	        </select>
	        <p class="help-block">Defaults to UTF-8. If you have issues, try "Other/autodetect". Be warned that it might give you unexpected results!</p>
	    </div>
	  </div>
	</div>
	
    <div class="panel panel-default">
	  <div class="panel-heading">File 2</div>
	  <div class="panel-body">
	    <div class="form-group col-sm-8 col-md-8 col-lg-8">     
	        <label for="file2">File 2 (.txt only)</label>
	        <input type="file" name="file2" id="file2"> 
	        <p class="help-block">Maximum file size: {{max_file_size | filesizeformat}}</p>
	    </div>
	    
	    <div class="form-group col-sm-12 col-md-12 col-lg-12">
	        <label for="file2format">File 2 format</label>
	        <div class="radio">
	            <label>
	            <input type="radio" name="file2format" id="file2format" value="1" checked />One document per line, no paragraphs
	            </label>
	        </div>
<!--
	        <div class="radio">
	            <label>
	            <input type="radio" name="file2format" id="file2format" value="2" />Single document, new line is a new paragraph
	            </label>
	        </div>
	        <div class="radio">
	            <label>
	            <input type="radio" name="file2format" id="file2format" value="3" />Single document, empty line is a new paragraph
	            </label>
	        </div>
	
	        <div class="radio">
	            <label>
	            <input type="radio" name="file2format" id="file2format" value="4" />Zipped file with multiple documents, one document per file, empty line is a new paragraph
	            </label>
	        </div>
	-->
	    </div>
	    
	    <div class="form-group col-sm-4 col-md-4">
	        <label for="file2encoding">File 2 encoding</label>
	        <select class="form-control" name="file2encoding" id="file2encoding">
	            <option value="utf-8">UTF-8</option>
	            <option value="iso8859-1">Latin 1 (ISO 8859-1)</option>
	            <option value="cp1252">Windows (CP-1252)</option>
	            <option value="auto">Other/autodetect</option>
	        </select>
	        <p class="help-block">Defaults to UTF-8. If you have issues, try "Other/autodetect". Be warned that it might give you unexpected results!</p>
	    </div>
	  </div>
	</div>
    

    

    
    <div class="form-group col-sm-4 col-md-4">
        <label for="language">Language (for both files)</label>
        <select class="form-control" name="language" id="language">
            <option value="english">English</option>
            <!--<option value="dutch">Dutch</option>-->
        </select>
    </div>
    
<div class="form-group col-sm-12 col-md-12 col-lg-12">
            <input type="submit" class="btn btn-default" value="Analyze" />
        </div>

    
    </form>    
    
    
</div> <!--/col-->    
</div><!--/row-->
    
{% endblock %}