{% extends "base.html" %}
{% block content %}

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <h2>Dynamic themes analyzer</h2>
    
    {% if errormsg %}
        <div class="alert alert-warning" role="alert">
            <strong>Error:</strong> {{ errormsg }}
        </div>  
    {% endif %} 
    
    {% if warningmsg %}
        <div class="alert alert-info" role="alert">
            <strong>Warning:</strong> {{ warningmsg }}
        </div>  
    {% endif %} 
    
    <p>Calculates cosine distances between a theme and one or more documents.</p>
    
   
    <form action="{{ url_for('weblingtools_blueprint.dynamic_themes') }}" method="post"  enctype="multipart/form-data">
    
    	<div class="form-group col-sm-8 col-md-8 col-lg-8"> 
            <label for="theme_name">Theme name:</label>
            <input class="form-control"  id="theme_name" name="theme_name" placeholder="Theme name" />
        </div>
    
    	<div class="form-group col-sm-8 col-md-8 col-lg-8"> 
            <label for="theme_words">Theme words (separate with commas or one per line, max {{max_number_theme_words}} words):</label>
            <textarea  class="form-control" rows=5 id="theme_words" name="theme_words" placeholder="Theme words (separate with commas or one per line)"></textarea>
        </div>
           
    
    
    <div class="form-group col-sm-8 col-md-8 col-lg-8">     
        <label for="file">File (.txt only)</label>
        <input type="file" name="file" id="file"> 
        <p class="help-block">Maximum file size: {{max_file_size | filesizeformat}}</p>
    </div>
    
    <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <label for="fileformat">File format</label>
        <div class="radio">
            <label>
            <input type="radio" name="fileformat" id="fileformat" value="1" checked />One document per line, no paragraphs
            </label>
        </div>
        
        <div class="radio">
            <label>
            <input type="radio" name="fileformat" id="fileformat" value="2" />Single document, new line is a new paragraph
            </label>
        </div>
        <div class="radio">
            <label>
            <input type="radio" name="fileformat" id="fileformat" value="3" />Single document, empty line is a new paragraph
            </label>
        </div>
<!--
        <div class="radio">
            <label>
            <input type="radio" name="fileformat" id="fileformat" value="4" />Zipped file with multiple documents, one document per file, empty line is a new paragraph
            </label>
        </div>
-->
    </div>
    
    <div class="form-group col-sm-4 col-md-4">
        <label for="encoding">File encoding</label>
        <select class="form-control" name="encoding" id="encoding">
            <option value="utf-8">UTF-8</option>
            <option value="iso8859-1">Latin 1 (ISO 8859-1)</option>
            <option value="cp1252">Windows (CP-1252)</option>
            <option value="auto">Other/autodetect</option>
        </select>
        <p class="help-block">Defaults to UTF-8. If you have issues, try "Other/autodetect". Be warned that it might give you unexpected results!</p>
    </div>
    
    <div class="clearfix"></div>
    
    <div class="form-group col-sm-4 col-md-4">
        <label for="language">Language</label>
        <select class="form-control" name="language" id="language">
            <option value="english">English</option>
            <!--<option value="dutch">Dutch</option>-->
        </select>
    </div>
    
	<div class="clearfix"></div>
        
        <div class="form-group col-sm-4 col-md-4">
	        <label for="vectorspace_name">Vector space</label>
	        <select class="form-control" name="vectorspace_name" id="vectorspace_name">
	        {% for vs in vectorspaces %}
	            <option value="{{vs.name}}">{{vs.name}}: {{vs.description}}</option>
	        {% endfor %}
	        </select>
	        <p class="help-block">Choose the desired vector space</p>
    	</div>
    
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <input type="submit" class="btn btn-default" value="Analyze" />
        </div>

    
    </form>    
    
    
</div> <!--/col-->    
</div><!--/row-->
    
{% endblock %}