{% extends "base.html" %}
{% block content %}

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">

    <h2>Error</h2>

    <div class="alert alert-danger" role="alert">
        <b>{{ errormsg }}.</b> Please <a href="javascript: window.history.go(-1);">go back</a> and try again.
    </div>  


</div> <!--/col-->    
</div><!--/row-->

{% endblock %}