{% extends "base.html" %}
{% block content %}


<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    {% if errormsg %}
        <div class="alert alert-warning" role="alert">
            <strong>Error:</strong> {{ errormsg }}
        </div>  
    {% endif %} 
    
    {% if warningmsg %}
        <div class="alert alert-info" role="alert">
            <strong>Warning:</strong> {{ warningmsg }}
        </div>  
    {% endif %} 

<h2>Help</h2>

<h3>What do I do if I run into problems?</h3>
<p>If you have any issues using this tool, send a message describing your issue to: <a href="mailto: m.brandaocarvalho@uvt.nl">m.brandaocarvalho@uvt.nl</a></p>


<h3>Which features are extracted from the tool?</h3>
<p>These are the features extracted by the script:</p>
<h4 id="markdown-header-basic-features">Basic features</h4>
<p>Some basic linguistic features, such as word count, sentence count, average sentence length, and incidence of certain grammatical classes.</p>
<p>Incidences are normalized by word count, so they range from 0 to 1.</p>
<ul>
<li>word_count</li>
<li>sentence_count</li>
<li>paragraph_count</li>
<li>avg_word_length </li>
<li>sd_word_length</li>
<li>avg_sentence_length</li>
<li>sd_sentence_length</li>
<li>avg_paragraph_length</li>
<li>sd_paragraph_length</li>
<li>noun_incidence</li>
<li>verb_incidence</li>
<li>adjective_incidence</li>
<li>adverb_incidence</li>
<li>pronoun_incidence</li>
<li>1p_sing_pronoun_incidence</li>
<li>1p_pl_pronoun_incidence</li>
<li>2p_pronoun_incidence</li>
<li>3p_sing_pronoun_incidence</li>
<li>3p_pl_pronoun_incidence</li>
</ul>
<h4 id="markdown-header-biber-features">Biber features</h4>
<p>These are the 67 features selected by Douglas Biber [1] to reflect the linguistic structure of text.</p>
<p>Features are normalized by word count and multiplied by 1000 (range: 0-1000), with the exception of <i>type_token_ratio</i> and 
<i>word_length</i>.</p>
<ol>
<li>past_tense </li>
<li>perfect_aspect_verbs </li>
<li>present_tense </li>
<li>place_adverbials </li>
<li>time_adverbials </li>
<li>first_person_pronouns </li>
<li>second_person_pronouns </li>
<li>third_person_pronouns </li>
<li>pronoun_it </li>
<li>demonstrative_pronouns </li>
<li>indefinite_pronouns </li>
<li>do_as_proverb </li>
<li>wh_questions </li>
<li>nominalizations </li>
<li>gerunds </li>
<li>nouns </li>
<li>agentless_passives </li>
<li>by_passives </li>
<li>be_as_main_verb </li>
<li>existential_there </li>
<li>that_verb_complements </li>
<li>that_adj_complements </li>
<li>wh_clauses </li>
<li>infinitives </li>
<li>present_participial_clauses </li>
<li>past_participial_clauses </li>
<li>past_prt_whiz_deletions </li>
<li>present_prt_whiz_deletions </li>
<li>that_relatives_subj_position </li>
<li>that_relatives_obj_position </li>
<li>wh_relatives_subj_position </li>
<li>wh_relatives_obj_position </li>
<li>wh_relatives_pied_pipes </li>
<li>sentence_relatives </li>
<li>adv_subordinator_cause </li>
<li>adv_sub_concesssion </li>
<li>adv_sub_condition </li>
<li>adv_sub_other </li>
<li>prepositions </li>
<li>attributive_adjectives </li>
<li>predicative_adjectives </li>
<li>adverbs </li>
<li>type_token_ratio </li>
<li>word_length </li>
<li>conjuncts </li>
<li>downtoners </li>
<li>hedges </li>
<li>amplifiers </li>
<li>empathics </li>
<li>discourse_particles </li>
<li>demonstratives </li>
<li>possibility_modals </li>
<li>necessity_modals </li>
<li>predictive_modals </li>
<li>public_verbs </li>
<li>private_verbs </li>
<li>suasive_verbs </li>
<li>seems_appear </li>
<li>contractions </li>
<li>that_deletion </li>
<li>stranded_prepositions </li>
<li>split_infinitives </li>
<li>split_auxilaries </li>
<li>phrasal_coordination </li>
<li>non_phrasal_coordination </li>
<li>synthetic_negation </li>
<li>analytic_negation</li>
</ol>
<h4 id="markdown-header-mrc-features">MRC features</h4>
<p>These features are the average and standard deviation scores of the words in the document according to the Medical Research Council (MRC) Psycholinguistic Database [2].</p>

<p>The ranges of the features are the same as informed in the MRC database. See <a href="http://websites.psychology.uwa.edu.au/school/MRCDatabase/mrc2.html">http://websites.psychology.uwa.edu.au/school/MRCDatabase/mrc2.html</a> for details.</p>

<ul>
<li>avg_Nlet (range: 1-23)</li>
<li>sd_Nlet</li>
<li>avg_Nphon (range: 0-19)</li>
<li>sd_Nphon</li>
<li>avg_Nsyl (range: 0-9)</li>
<li>sd_Nsyl</li>
<li>avg_K-F-freq </li>
<li>sd_K-F-freq</li>
<li>avg_K-F-ncats (maximum frequency in file: 69971)</li>
<li>sd_K-F-ncats</li>
<li>avg_K-F-nsamp (maximum frequency in file: 69971)</li>
<li>sd_K-F-nsamp</li>
<li>avg_T-L-freq </li>
<li>sd_T-L-freq</li>
<li>avg_Brown-freq (range of entries: 0 - 6833)</li>
<li>sd_Brown-freq</li>
<li>avg_Familiarity (range: 100 - 700)</li>
<li>sd_Familiarity</li>
<li>avg_Concreteness (range: 100 - 700)</li>
<li>sd_Concreteness</li>
<li>avg_Imageability (range: 100 - 700)</li>
<li>sd_Imageability</li>
<li>avg_Meaningfulness-Colorado (range: 100 - 700)</li>
<li>sd_Meaningfulness-Colorado</li>
<li>avg_Meaningfulness-Paivio (range: 100 - 700)</li>
<li>sd_Meaningfulness-Paivio</li>
<li>avg_Age-of-acquisition (range: 100 - 700)</li>
<li>sd_Age-of-acquisition</li>
</ul>

<h4 id="markdown-header-anew-features">ANEW features</h4>
<p>These features are the average and standard deviation scores of the words in the document according to the Affective Norms for English Words (ANEW) [3].</p>
<ul>
<li>avg_valence (range: 1-9)</li>
<li>sd_valence</li>
<li>avg_arousal (range: 1-9)</li>
<li>sd_arousal</li>
<li>avg_dominance (range: 1-9)</li>
<li>sd_dominance</li>
</ul>
<h4 id="markdown-header-semanticvectors">SemanticVectors</h4>
<p>These are measures of text coherence, using representations in the LSA vector space to calculate distances. The features are presented as average and standard deviations in the text.</p>
<p>Cosine distances can range from -1.0 to +1.0.</p>
<ul>
<li>avg_cosdis_adjacent_sentences</li>
<li>sd_cosdis_adjacent_sentences</li>
<li>avg_cosdis_all_sentences_in_paragraph</li>
<li>sd_cosdis_all_sentences_in_paragraph</li>
<li>avg_cosdis_adjacent_paragraphs</li>
<li>sd_cosdis_adjacent_paragraphs</li>
<li>avg_givenness_sentences</li>
<li>sd_givenness_sentences</li>
</ul>
<h4 id="markdown-header-sentimentanalysis">SentimentAnalysis</h4>
<p>Sentiment Analysis scores using NLTK's VADER sentiment analysis tool [4].</p>
<p>In the Vader lexicon, words are rated from -4 to +4.</p>
<ul>
<li>positive</li>
<li>negative</li>
<li>neutral</li>
<li>compound</li>
</ul>
<h4 id="markdown-header-ner-named-entity-recognition">NER (Named Entity Recognition)</h4>
<p>Recognized entities in the text, extracted using NLTK's NER tool. The values are normalized by word count (range: 0-1).</p>
<ul>
<li>organization</li>
<li>person</li>
<li>gpe</li>
<li>location</li>
<li>facility</li>
</ul>
<h4 id="markdown-header-extra-features">Extra features</h4>
<p>Some extra basic features, all normalized by word count (range: 0-1).</p>
<p>To recognize English words, we use NLTK's <em>word</em> and <em>brown</em> corpora.</p>
<ul>
<li>dollarsign</li>
<li>eurosign</li>
<li>poundsign</li>
<li>numbers</li>
<li>years</li>
<li>englishwords</li>
<li>nonenglishwords</li>
</ul>

<h4 id="markdown-header-references">References</h4>
<ul>
<li>[1] Biber, D. (1988). Variation across speech and writing. Cambridge: Cambridge University Press. doi: 10.1017/CBO9780511621024</li>
<li>[2] MRC Psycholinguistic Database. <a href="http://websites.psychology.uwa.edu.au/school/MRCDatabase/mrc2.html" rel="nofollow">http://websites.psychology.uwa.edu.au/school/MRCDatabase/mrc2.html</a></li>
<li>[3] Bradley, M. M., &amp; Lang, P. J. (1999). Affective norms for English words (ANEW): Instruction manual and affective ratings (pp. 1-45). Technical report C-1, the center for research in psychophysiology, University of Florida.</li>
<li>[4] Hutto, C.J. &amp; Gilbert, E.E. (2014). VADER: A Parsimonious Rule-based Model for Sentiment Analysis of Social Media Text. Eighth International Conference on Weblogs and Social Media (ICWSM-14). Ann Arbor, MI, June 2014.</li>
</ul>
</div> <!--/col-->    
</div><!--/row-->
    
{% endblock %}