{% extends "base.html" %}
{% block content %}

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    {% if errormsg %}
        <div class="alert alert-warning" role="alert">
            <strong>Error:</strong> {{ errormsg }}
        </div>  
    {% endif %} 
    
    {% if warningmsg %}
        <div class="alert alert-info" role="alert">
            <strong>Warning:</strong> {{ warningmsg }}
        </div>  
    {% endif %} 

    <h2>Welcome to the Linguistic Tools for Cognitive Science web app.</h2>
    
    <p><b>This is an alpha release of the tool! If you run into problems, check the Help page.</b>
    
    <p>You have the following options:</p>
        
    <ul>
    
    <li><b><a href={{ url_for('weblingtools_blueprint.process_simple') }}>Simple text feature extraction</a>: </b>
    Extracts linguistic features from a text.</li>
    
    <li><b><a href={{ url_for('weblingtools_blueprint.process_file') }}>Bulk text feature extraction</a>: </b>
    Extracts linguistic features from an uploaded file (with one or more documents).</li>
    
    <li><b><a href={{ url_for('weblingtools_blueprint.dynamic_themes') }}>Dynamic themes analysis</a>: </b>
    Calculates cosine distances between a theme and one or more documents.</li>
    
    <li><b><a href={{ url_for('weblingtools_blueprint.distinctive_words') }}>Distinctive words extractor</a>: </b>
    Given two sets of texts, calculates the words that most distinguish the two.</li>
    
    <li><b><a href={{ url_for('weblingtools_blueprint.cosine_distances') }}>Cosine distances</a>: </b>
    Given a file with a list of words or documents, calculates a matrix of cosine distances.</li>
    
    <li><b><a href={{ url_for('weblingtools_blueprint.get_nearest_neighbors') }}>Nearest neighbors</a>: </b>
    Given a word, calculates the nearest neighbors.</li>
    
    </ul>

</div> <!--/col-->    
</div><!--/row-->
    
{% endblock %}