{% extends "base.html" %}
{% block content %}


<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h2>Results</h2>

    {% if errormsg %}
        <div class="alert alert-warning" role="alert">
            <strong>Error:</strong> {{ errormsg }}
        </div>  
    {% endif %} 
    
    {% if warningmsg %}
        <div class="alert alert-info" role="alert">
            <strong>Warning:</strong> {{ warningmsg }}
        </div>  
    {% endif %} 

{% if result %}

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="well">
    
        <p><b>The original text (truncated):</b></p>
    
        <p>{{ text | truncate(100, True) }}</p>
    </div>
</div>

<div class="clearfix"></div>

<!-- 
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="alert alert-success" role="alert">
        <strong><a href="/download/{{ file_for_download }}">Click here to download results.</a></strong> 
        Link will expire after 15 minutes.
    </div>
</div>
 -->  

{% for set in result.feature_sets_with_ids %}

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    
    <caption><b>Feature set: {{set.name}}</b></caption>
    
    <table class="table table-condensed table-hover">
        <thead> 
            <tr> 
                <th>#</th> 
                <th>Code</th> 
                <th>Name</th>
                <th>Value</th>                            
            </tr> 
        </thead> 
        <tbody>
        {% for feature in set.features %}
            <tr>
                <td>{{ feature.id }}</td>
                <td>{{ feature.code }}</td>
                <td>{{ feature.name }}</td>
                <td>{{ '%0.2f'| format(feature.value|float)  }}</td>                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>



{% endfor %}

{% endif %}
    
</div> <!--/col-->    
</div><!--/row-->

{% endblock %}