{% extends "base.html" %}
{% block content %}


<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h2>Nearest neighbors</h2>

    {% if errormsg %}
        <div class="alert alert-warning" role="alert">
            <strong>Error:</strong> {{ errormsg }}
        </div>  
    {% endif %} 
    
    {% if warningmsg %}
        <div class="alert alert-info" role="alert">
            <strong>Warning:</strong> {{ warningmsg }}
        </div>  
    {% endif %} 

{% if result %}

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="well">
    
        <p><b>The original text (truncated):</b></p>
    
        <p>{{ text | truncate(100, True) }}</p>
    </div>
</div>

<div class="clearfix"></div>

<!-- 
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="alert alert-success" role="alert">
        <strong><a href="/download/{{ file_for_download }}">Click here to download results.</a></strong> 
        Link will expire after 15 minutes.
    </div>
</div>
 -->  



<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

<table class="table table-condensed table-hover">
    <thead> 
        <tr> 
            <th>#</th> 
            <th>Word</th> 
            <th>Cosine distance</th>                  
        </tr> 
    </thead> 
    <tbody>
    {% for id, item in result %}
        <tr>
            <td>{{ id }}</td>
            <td>{{ item[0] }}</td>
            <td>{{ '%0.4f'| format(item[1]|float)  }}</td>                
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>




{% endif %}
    
</div> <!--/col-->    
</div><!--/row-->

{% endblock %}