{% extends "base.html" %}
{% block content %}

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h2>Results</h2>

    {% if errormsg %}
        <div class="alert alert-warning" role="alert">
            <strong>Error:</strong> {{ errormsg }}
        </div>  
    {% endif %} 
    
    {% if warningmsg %}
        <div class="alert alert-info" role="alert">
            <strong>Warning:</strong> {{ warningmsg }}
        </div>  
    {% endif %} 

{% if file_for_download %}

<p><b>Download the results (link will expire after 15 minutes):</b></p>
<p><a href="/download/{{ file_for_download }}">Download results</a></p>

{% endif %}

</div> <!--/col-->    
</div><!--/row-->
    
{% endblock %}