{% extends "base.html" %}
{% block content %}

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <h2>Simple text feature extraction</h2>   
    
	
    {% if errormsg %}
        <div class="alert alert-warning" role="alert">
            <strong>Error:</strong> {{ errormsg }}
        </div>  
    {% endif %} 
    
    {% if warningmsg %}
        <div class="alert alert-info" role="alert">
            <strong>Warning:</strong> {{ warningmsg }}
        </div>  
    {% endif %} 

	<p>Here you can extract linguistic features from a text. Write your text below (max {{max_text_size}} characteres).</p>

	<p>The list of features extracted by the tool (and their ranges) can be found in the <a href="/help">Help</a> page.</p>
    
    <form action="{{ url_for('weblingtools_blueprint.process_simple') }}" method="post" >
    
        <div class="form-group col-sm-8 col-md-8 col-lg-8"> 
            <label for="text">Text:</label>
            <textarea  class="form-control" rows=5 id="text" name="text" placeholder="Hello World!"></textarea>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="form-group col-sm-4 col-md-4">
	        <label for="vectorspace_name">Vector space</label>
	        <select class="form-control" name="vectorspace_name" id="vectorspace_name">
	        {% for vs in vectorspaces %}
	            <option value="{{vs.name}}">{{vs.name}}: {{vs.description}}</option>
	        {% endfor %}
	        </select>
	        <p class="help-block">Choose the desired vector space</p>
    	</div>
        
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <input type="submit" class="btn btn-default" value="Analyze" />
        </div>

    
    </form>    
    
    
</div> <!--/col-->    
</div><!--/row-->
    
{% endblock %}