{% extends "base.html" %}
{% block content %}


<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h2>Dynamic themes analyzer - Results</h2>

    {% if errormsg %}
        <div class="alert alert-warning" role="alert">
            <strong>Error:</strong> {{ errormsg }}
        </div>  
    {% endif %} 
    
    {% if warningmsg %}
        <div class="alert alert-info" role="alert">
            <strong>Warning:</strong> {{ warningmsg }}
        </div>  
    {% endif %} 

{% if result %}

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="well">
    
        <p><b>The original text (truncated):</b></p>
    
        <p>{{ result.text | truncate(100, True) }}</p>
    </div>
</div>

<!-- 
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="alert alert-success" role="alert">
        <strong><a href="/download/{{ file_for_download }}">Click here to download results.</a></strong> 
        Link will expire after 15 minutes.
    </div>
</div>
 -->  

	<p><b>Theme name:</b> {{result.themename}}</p>
	<p><b>Theme words:</b> {{result.themewords|join(', ')}}</p>
	<p><b>Cosine value (theme x text):</b> {{result.cosinevalue}}</p>


{% endif %}
    
</div> <!--/col-->    
</div><!--/row-->

{% endblock %}